*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Montserrat, sans-serif;
  align-items: center ;
  justify-content: center ;
  display: flex;
  height: 100vh;
}

a {
  color: cadetblue;
  font-weight: bold;
  text-decoration: none ;
}

p {
  margin: 10px 0;
}
form {
  display: flex;
  flex-direction: column ;
  width:400px;
}

input {
  margin: 10px 0;
  padding: 10px;
  border: unset;
  border-bottom: 2 solid #e3e3e3;
  outline: none ;
}

button {
  padding: 10px;
  background: #e3e3e3 ;
  border: unset;
  cursor: pointer;
}